body {
  font-family: Arial, sans-serif;
  background: #fff;
  color: #333;
  text-align: center;
}

h1 {
  color: #ffcc00; /* Amarelo */
}

#menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 20px;
}

.card {
  background: #ff0000; /* Vermelho */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: white;
}

button {
  background: #ffcc00; /* Amarelo */
  color: #ff0000; /* Vermelho */
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #e6b800; /* Amarelo mais escuro */
}